.white-text {
  color: #FFFFFF;
}

.black-text-p {
  color: #434343;
}

.black-text-s {
  color: #f9f9dd;
}

.white-bg {
  background-color: #FFFFFF;
}

.black-bg {
  background-color: #434343;
}

.main-bg{
  background-color: #D2EBF5;
}

.border-black{
  border-color: #4481EB;
  border-width: 3px;
  background-color: #FFFFFF;
}
