
.search-bar{
    height: auto;
    width: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    margin: 50px 400px 0px 400px ;
    border-radius: 15px;
    background-color: #252B39;
}

.search-bar button {
    width: 100px;
    height: 30px;
    background-color:#434343 ;
    color:white ;
    font-weight: bold;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }

.search-bar button:hover{
    background-color:  #646464;
    color:white;
  }

.search-bar input{
    width: 280px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 15px;
}

.search-bar input::placeholder {
    color: #434343;
  }
  

.header-name {
    margin-top: 50px;
}

.overview-cards{
    justify-content: space-between;
    align-items: center;
}

.overview-card {
    height: 100px;
    width: 250px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
    color: white;
    background-color: #252B39;
    border-radius: 15px;
}