.calc {
    width: fit-content;
    height: 450px;
    margin: 100px auto;
    border: 15px solid rgb(36, 42, 56);
    border-radius: 15px;
    background-color: #252B39;
}

.calc-display{
    height: 140px;
    width: 100%;
    align-items:end;
    justify-content:flex-end;
    background-color: #ffffff;
    border-radius: 15px;
}


.calc-btns button{
    flex-grow: 1;
    height: 40px;
    width: 70px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ffffff;
    color: #252B39;
    border-radius: 15px;
    margin: 10px 3px auto 3px;
    font-size: large;
}

.calc-btns button:hover{
    color: #ffffff;
    background-color: #424753;
}